#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.timeline {
    border-radius: 0.75em;
    display: flex;
    max-width: 95vw;
    overflow-x: auto;
}

.link {
    display: block;
}

.image {
    width: 15rem;
}

.hidden-link-description {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
