.main {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__fields {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__skeleton {
        width: 100%;
    }

    &__file-upload {
        align-self: center;
    }

    &__fps-warning {
        font-size: 12px;
        color: gray;
        line-height: 1.5;
        margin: 0;
        padding: 0;
    }

    &__radio-group {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
